.about-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    color: #4F3737;
    background-color: #F5E9DA;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  